doctype html
//
  Helios by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
  head
    title Studious
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initia l-scale=1')
    link(rel='icon', type='image/ico', href='images/emperor.jpg')
    //if lte IE 8
      script(src='javascripts/ie/html5shiv.js')
    link(rel='stylesheet', href='css/main.css')
    //if lte IE 8
      link(rel='stylesheet', href='css/ie8.css')
  body.no-sidebar
    #page-wrapper
      // Header
      #header
        // Inner
        .inner
          header
            h1
              a#logo(href='index.html') Studious
            hr
            p An online study environment built for students
        // Nav
        nav#nav
          ul
            li
              a(href='/') Home
            li
              a(href='/Comms') Study Environment
            li
              a(href='/TBD') Partners
            li
              a(href='/TBD') Merch
            li
              a(href='/Blog') Blog
      // Main
      .wrapper.style1
        .container
          article#main.special
            header
              h2
                a(href='#') And So It Begins
              p
                | The First Week
            a.image.featured(href='#')
              img(src='images/beginning.jpg', alt='')
            p
              | Coming off of around three false starts on this project, I'm glad that I've actually gotten going
              | on a relatively good start. With a chat and blackboard both operating as intended, the web app is set
              | to keep growing. I've decided to start keeping a blog in order to track my thoughts on the project and
              | what my goals are and what I learn to achieve them. The blog also helps break up the monotony of starting
              | at HTML/CSS/Javascript all day, so it's a welcome reprieve.
            section
              header
                h3 Goals
              p
                | Studious was born out of my frustration with getting asked for math/physics help over messenger. I hate having to
                | parse stupid amounts of text to understand what my friend is asking about when they're messaging me an
                | equation they can't solve. Voice calling through Skype didn't much help because it's a pain in the ass
                | to describe things like Force Diagrams without having the ability. Thus, Studious came to life.
              p
                | A live Blackboard, LaTeX supported chat, and basic chat features to still enable communcication. Those
                | are the three big features that I'm hoping to implement on Studious and am progressing to do so.
            section
              header
                h3 So Far
              p
                | So much done in the first week. After bashing my head at building a few other web apps, I discovered
                | the Pubnub API which I realized would be perfect for this project. Pubnub is interesting in that
                | envoking an instance of Pubnub simply allows an application access to Pubnub functions, which runs
                | against what I'm commonly used to when creating outside objects. Thanks in large part to some Quick Start
                | guides and detailed tutorials, I had a chat and Blackboard up within a few days of learning how to use it.
                | This has also been an app subject to hella front-end work. I decided to use a HTML template to allow me
                | the chance to quickly get into playing around with the Pubnub API, but still wound up having to finable
                | objects/CSS to keep things looking nice. Shout outs to my friend Aaron who gave me some advice on how to
                | handle the chat scrolling in a clean, effective manner

      // Footer
      #footer
        .container
          .row
          hr
          .row
            .12u
              // Contact
              section.contact
                header
                  h3 Any questions?
                p
                  | Let us know by sending an e-mail to junkemail@notarealdomain.com.
                ul.icons
                  li
                    a.icon.fa-twitter(href='#')
                      span.label Twitter
                  li
                    a.icon.fa-facebook(href='#')
                      span.label Facebook
                  li
                    a.icon.fa-instagram(href='#')
                      span.label Instagram
                  li
                    a.icon.fa-pinterest(href='#')
                      span.label Pinterest
                  li
                    a.icon.fa-dribbble(href='#')
                      span.label Dribbble
                  li
                    a.icon.fa-linkedin(href='#')
                      span.label Linkedin

              // Copyright
              .copyright
                ul.menu
                  li © Penguin Development. All rights reserved.
                  li
                    | Design:
                    a(href='http://html5up.net') HTML5 UP
    // Scripts
    script(src='javascripts/jquery.min.js')
    script(src='javascripts/jquery.dropotron.min.js')
    script(src='javascripts/jquery.scrolly.min.js')
    script(src='javascripts/jquery.onvisible.min.js')
    script(src='javascripts/skel.min.js')
    script(src='javascripts/util.js')
    //if lte IE 8
      script(src='javascripts/ie/respond.min.js')
    script(src='javascripts/main.js')