doctype html
//
  Helios by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
  head
    title Studious
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', type='image/ico', href='images/emperor.jpg')
    //if IE 8
      script(src='javascripts/ie/html5shiv.js')
    link(rel='stylesheet', href='css/main.css')
    //if IE 8
      link(rel='stylesheet', href='css/ie8.css')
  body.homepage
    #page-wrapper
      // Header
      #header
        // Inner
        .inner
          header
            h1
              a#logo(href='index.html') Studious
            hr
            p An online study environment built for students
          footer
            a.button.circled.scrolly(href='/Comms') Start
        // Nav
        nav#nav
          ul
            li
              a(href='/') Home
            li
              a(href='/Comms') Study Environment
            li
              a(href='/Partners') Partners
            li
              a(href='/TBD') Merch
            li
              a(href='/Blog') Blog

      // Banner
      section#banner
        header
          h2
            | Hi. Welcome to&nbsp
            strong Studious
            | .
          p
            | A free web app built by&nbsp
            a(href='http://richardwen.tech') Richard Wen
            | .
            | 							Built using the&nbsp
            a(href='https://html5up.net') Helios
            |  HTML template

      // Main
      .wrapper.style2
        article#main.container.special
          a.image.featured(href='#')
            img(src='images/pic17.jpg', alt='')
          header
            h2
              a(href='#') Built by students for students
            p
              | Studious is a web app that connects students with powerful tools to meet their educational demands.
              | Featuring a real time chat, voice communication, and live blackboard, Studious allows students to connect through learning.

      // Features
      .wrapper.style1
        section#features.container.special
          header
            h2 What does Studious have to offer?
          .row
            article.4u.special(class='12u(mobile)')
              a.image.featured(href='#')
                img(src='images/pic18.jpg', alt='')
              header
                h3
                  a(href='#') Voice Chat
              p
                | Communicate with fellow students with nothing more than a browser, a headset, and an internet connection
            article.4u.special(class='12u(mobile)')
              a.image.featured(href='#')
                img(src='images/pic20.jpg', alt='')
              header
                h3
                  a(href='#') LaTeX Supported Chat
              p
              | No more awkward '^' or '/' when asking about equations, Studious accurately represents mathematical equations in its chat
            article.4u.special(class='12u(mobile)')
              a.image.featured(href='#')
                img(src='images/pic19.png', alt='')
              header
                h3
                  a(href='#') Real Time Blackboard
              p
                | Have an idea you can't quite communicate with words? Draw it out on a real time updating blackboard

      // Footer
      #footer
        .container
          .row
          hr
          .row
            .12u
              // Contact
              section.contact
                header
                  h3 Any questions?
                p
                  | Let us know by sending an e-mail to junkemail@notarealdomain.com.
                ul.icons
                  li
                    a.icon.fa-twitter(href='#')
                      span.label Twitter
                  li
                    a.icon.fa-facebook(href='#')
                      span.label Facebook
                  li
                    a.icon.fa-instagram(href='#')
                      span.label Instagram
                  li
                    a.icon.fa-pinterest(href='#')
                      span.label Pinterest
                  li
                    a.icon.fa-dribbble(href='#')
                      span.label Dribbble
                  li
                    a.icon.fa-linkedin(href='#')
                      span.label Linkedin

              // Copyright
              .copyright
                ul.menu
                  li © Penguin Development. All rights reserved.
                  li
                    | Design:
                    a(href='http://html5up.net') HTML5 UP
    // Scripts
    script(src='javascripts/jquery.min.js')
    script(src='javascripts/jquery.dropotron.min.js')
    script(src='javascripts/jquery.scrolly.min.js')
    script(src='javascripts/jquery.onvisible.min.js')
    script(src='javascripts/skel.min.js')
    script(src='javascripts/util.js')
    //if lte IE 8
      script(src='javascripts/ie/respond.min.js')
    script(src='javascripts/main.js')
